.textarea {
    resize: none;
    height: 30%;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    white-space: pre;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
  }


  pre {outline: 1px solid #ccc; padding: 5px; margin: 10%; margin-top:3%; height:30% }
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }